pycache/
*.pyc
*.pyd
*.pyo
*.pyl
.Python
build/
dist/
*.whl
*.egg-info/
venv/
env/
.venv/
.env/
pip-log.txt
pip-delete-this-file.txt
pip-selfcheck.json
poetry.lock
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
htmlcov/
.coverage
*.ini
*.cfg
*.yml
*.yaml
*.sqlite
db.sqlite3
*.log
.ipynb_checkpoints

tempCodeRunnerFile.py